.stink-wrapper {
  display: contents;
}
 
.stink-container {
  display: contents;
}
 


.nav-bar-wrapper {
  display: contents;
}
 
.nav-bar-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.nav-bar-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.nav-bar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.nav-bar-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.nav-bar-burger-menu {
  display: none;
}
 
.nav-bar-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.nav-bar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.nav-bar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.nav-bar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.nav-bar-logo {
  height: 3rem;
}
 
.nav-bar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.nav-bar-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.nav-bar-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.nav-bar-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .nav-bar-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .nav-bar-desktop-menu {
    display: none;
  }
  .nav-bar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .nav-bar-navbar-interactive {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .nav-bar-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.content-list1-wrapper {
  display: contents;
}
 
.content-list1-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.content-list1-content {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list1-ul {
  align-items: flex-start;
}
 
.content-list1-heading1 {
  align-self: flex-start;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}

.toast1-wrapper {
  display: contents;
}
 
.toast1-container {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  align-items: center;
  padding-left: 16px;
  flex-direction: row;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.toast1-logo {
  height: 60px;
  object-fit: cover;
}
 
.toast1-header {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.toast1-content {
  gap: var(--dl-layout-space-halfunit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.toast1-close-button {
  display: flex;
  flex-direction: row;
}
 
.toast1-icon1 {
  width: 24px;
  height: 24px;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .toast1-logo {
    display: none;
  }
  .toast1-header {
    gap: var(--dl-layout-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .toast1-close-button {
    align-self: flex-start;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
}
 
.home-link {
  display: contents;
}
 
.home-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text33 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
